---
import "@/assets/styles/map/map.css";
import Back from "@/components/Back.astro";
import Help from "@/components/Help.astro";
import SharePopover from "@/components/ShareButton.astro";
import categoryData from "@/data/categories.json";
import BaseLayout from "@/layouts/Base";
import { Image } from "astro:assets";
type Category = {
  id: string;
  title: string;
  description: string;
  image: string;
  color: string;
};

const categories: Category[] = Object.values(categoryData.categories);

const meta = {
  title: "Explore India | Interactive States & Capitals Map | abcdkbd",
  description:
    "Explore India's states, capitals, and regions with an interactive map. Click on any state to discover more details, fun facts, and learn geography in a playful way!"
};
---

<BaseLayout meta={meta}>
  <Back />
  <Fragment slot="header-right">
    <SharePopover title={meta.title} description={meta.description} />
    <Help
      title="Capital"
      description="An Interactive Journey Through India's States and Territories,click on any state to see more details"
    />
  </Fragment>
  <main class="explore-container">
    <div class="explore-grid">
      {
        categories.map((category: Category) => (
          <a href={`/map/${category.id}`} class="explore-card">
            <div class="card-image">
              <Image src={category.image} alt={category.title} width={400} height={225} />
            </div>
            <div class="card-content">
              <div class="card-header">
                <span class="category-dot" style={`background-color: ${category.color}`} />
                <h2>{category.title}</h2>
              </div>
              <p>{category.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
