---
import "@/assets/styles/map/map.css";
import Back from "@/components/Back.astro";
import Help from "@/components/Help.astro";
import SharePopover from "@/components/ShareButton.astro";
import categoryData from "@/data/categories.json";
import BaseLayout from "@/layouts/Base";
import { Image } from "astro:assets";
type Category = {
  id: string;
  title: string;
  description: string;
  image: string;
  color: string;
};

const categories: Category[] = Object.values(categoryData.categories);
---

<BaseLayout meta={{ title: "Explore India" }}>
  <Back />
  <Fragment slot="header-right">
    <SharePopover />
    <Help title="Capital" description="An Interactive Journey Through India's States and Territories. " />
  </Fragment>
  <main class="explore-container">
    <div class="explore-grid">
      {
        categories.map((category: Category) => (
          <a href={`/map/${category.id}`} class="explore-card">
            <div class="card-image">
              <Image src={category.image} alt={category.title} width={400} height={225} />
            </div>
            <div class="card-content">
              <div class="card-header">
                <span class="category-dot" style={`background-color: ${category.color}`} />
                <h2>{category.title}</h2>
              </div>
              <p>{category.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
