---
import { blogCardSchema } from "@/types/blog";

const props = blogCardSchema.parse(Astro.props);
const { post, height = "auto" } = props;
const { url, title, description, image, author, date } = post;
---

<article class="blog-card">
  <a href={url}>
    <div class="blog-card-content">
      <div class="blog-card-image">
        <figure class={`${typeof height === "number" ? `height: ${height}px` : `height: ${height}`}`}>
          <img src={image} alt={title} loading="lazy" />
        </figure>
      </div>
      <div class="blog-card-details">
        <h3 class="blog-card-title">
          {title}
        </h3>

        {description && <p class="blog-card-description">{description}</p>}

        <div class="blog-card-meta">
          <div>
            {author && <p>By {author}</p>}
          </div>
          {date && <time datetime={date.toString()}>{date}</time>}
        </div>
      </div>
    </div>
  </a>
</article>
