---
import BaseLayout from "@/layouts/Base";
import MonthCard, { type MonthEntry } from "@/components/MonthCard.astro";
import "@/assets/styles/varnmala/months.css";
import BackButton from "@/components/ui/backButton.astro";
import glossaryData from "@/data/glossary.json";

const pageTitle = glossaryData.months.title;
const today = new Date();
const currentYear = today.getFullYear(); 

// Function to dynamically generate month names
const getMonths = (language: string) => {
  const monthIndexes = [...Array(12).keys()];
  const options = {
    month: 'long',
    timeZone: 'UTC',
  } as const;
  const applyFormat = new Intl.DateTimeFormat(language, options).format;
  return monthIndexes.map((m) => applyFormat(new Date(Date.UTC(2000, m))));
};

const englishMonthNames = getMonths('en');
const hindiMonthNames = getMonths('hi');

const englishMonthsData: MonthEntry[] = englishMonthNames.map((name, index) => ({
  type: "english",
  name: name,
  hindi: hindiMonthNames[index],
  monthIndex: index
}));

const indianMonthsData = glossaryData.months.indian as MonthEntry[];
const nationalHolidaysData = glossaryData.months.holidays;
---

<BaseLayout meta={{ title: pageTitle }}>
  <div class="container__page months-page-container">
    <div class="page-header">
      <BackButton href="/Glossary" />
      {}
      <h1 class="page-main-title">{pageTitle}</h1>
      <button id="flip-all-months-button" class="flip__all__button">Flip All Cards</button>
    </div>

    <div class="months-toggle-buttons" role="tablist">
      <button
        id="englishMonthsBtn"
        class="toggle-button active"
        role="tab"
        aria-selected="true"
        aria-controls="english-months-pane">English Months</button
      >
      <button
        id="hindiMonthsBtn"
        class="toggle-button"
        role="tab"
        aria-selected="false"
        aria-controls="indian-months-pane">Indian Months</button
      >
    </div>

    <div id="english-months-pane" class="months-content-pane active" role="tabpanel" aria-labelledby="englishMonthsBtn">
      <div id="english-months-grid" class="grid-container months-grid">
        {
          englishMonthsData.map((month) => (
            <MonthCard
              item={month}
              currentYear={currentYear}
              nationalHolidaysData={nationalHolidaysData}
              parsedToday={today}
            />
          ))
        }
      </div>
    </div>

    <div id="indian-months-pane" class="months-content-pane" role="tabpanel" aria-labelledby="hindiMonthsBtn">
      <div id="indian-months-grid" class="grid-container months-grid">
        {
          indianMonthsData.map((month) => (
            <MonthCard
              item={month}
              currentYear={currentYear}
              nationalHolidaysData={nationalHolidaysData}
              parsedToday={today}
            />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>