---
import "@/assets/styles/board.css";
import Back from "@/components/Back.astro";
import CardLayout from "@/components/CardLayout.astro";
import SharePopover from "@/components/ShareButton.astro";
import BaseLayout from "@/layouts/Base";
import { DATASET } from "@/mappers/dataset";

const meta = {
  title: "Alphabets Explorer",
  description: "Choose a category to discover different alphabet representations"
};

const title = "Alphabet Categories";
const subtitle = "Choose a category to discover different alphabet representations";

const categories = Object.keys(DATASET);

const categoryList = categories.map((category, index) => ({
  id: index.toString(),
  icon: DATASET[category].icon,
  title: category.charAt(0).toUpperCase() + category.slice(1),
  description: DATASET[category].description,
  href: {
    playground: { icon: "📚", link: `/alphabets/${category}/playground/`, text: "Playground" },
    board: { icon: "📋", link: `/alphabets/${category}/board/`, text: "Board" }
  }
}));
---

<BaseLayout meta={meta}>
  <Fragment slot="header-right">
    <SharePopover />
  </Fragment>
  <Back />

  <section class="container__board">
    <div class="board__header">
      <h2 class="title">{title}</h2>
      <p class="subtitle">{subtitle}</p>
    </div>
    <ul class="board__list">
      {
        categoryList.map((category, index) => (
          <li class="board__card" style={`animation-delay: ${index * 50}ms`}>
            <CardLayout section={category} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
