---
import "@/assets/styles/board.css";
import Back from "@/components/Back.astro";
import CardLayout from "@/components/CardLayout.astro";
import NumberData from "@/data/numbers.json";
import BaseLayout from "@/layouts/Base";
import type { CardSectionType } from "@/types/alphabet";
import { sortById } from "@/utils";

const numberSections: CardSectionType[] = [];

//  English Numbers
numberSections.push({
  id: 0,
  kind: "english",
  title: "English Numbers",
  description: "A collection of numbers in English numerals.",
  href: {
    playground: {
      link: "/numbers/english",
      icon: "ðŸ”¢",
      text: "Explore"
    }
  }
});

Object.entries(NumberData)
  .map(([key, value]) => {
    const section: CardSectionType = {
      id: value.id,
      kind: key,
      title: value.title || key.charAt(0).toUpperCase() + key.slice(1),
      description: value.description || `Explore the ${key} category.`,
      href: {
        playground: {
          link: `/numbers/${key}`,
          icon: value.icon || "ðŸ”",
          text: "Explore"
        }
      }
    };
    return section;
  })
  .forEach((section) => {
    if (!numberSections.some((s) => s.kind === section.kind)) {
      numberSections.push(section);
    }
  });

const title = "Numbers";
const subtitle = "Explore various categories of numbers";
---

<BaseLayout meta={{ title: "Numbers" }}>
  <Back />
  <section class="container__board">
    <div class="board__header">
      <h1 class="title">{title}</h1>
      <p class="subtitle">{subtitle}</p>
    </div>
    <ul class="board__list">
      {
        numberSections.sort(sortById).map((section, index) => (
          <li class="board__card" style={`animation-delay: ${index * 50}ms`}>
            <CardLayout section={section} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
