---
import Back from "@/components/Back.astro";
import BaseLayout from "@/layouts/Base";
import "@/assets/styles/alphabets/index.css";
import "@/assets/styles/numbers/index.css"; 
import numbersData from "../../data/numbers.json";

const pageTitle = "Learn Numbers";
const numberSections = numbersData.sections;
---

<BaseLayout meta={{ title: pageTitle }}>
  <Back />
  <section class="container__alphabets">
    <div class="alphabets__header">
      <h1>{pageTitle}</h1>
    </div>
    <ul class="list__alphabets">
      {
        numberSections.map((section, index) => (
          <li class="card" style={`animation-delay: ${index * 50}ms`}>
            <div class="card__inner">
              <div class="card__content">
                {section.icon && <div class="category__icon">{section.icon}</div>}
                <h2 class="category__title">{section.title}</h2>
                <p class="category__description">{section.description}</p>
              </div>
              <div class="card__actions">
                <a href={section.href} class="btn btn-playground">
                  <span class="icon">📚</span>
                  Explore
                </a>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>